body{
    margin: 0;
    padding: 0;
}
.body {
     font-family: 'Arial', sans-serif;
    background-color: #3f3f3f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #ffffff;
}
.container {
    text-align: center;
}
