body{
    margin: 0;
    padding: 0;
    background-color: #b1b1b1;
}
#page{
    width: 960px;
    margin: auto;
    background-color: #fff;
}
header{
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: #966;
}
header ul{
    display: flex;
    margin-left: 640px;
}
header li{
    margin: 15px;
    list-style: none;
}
header li a{
    color: #fff;
}
aside{
    width: 192px;
}