body{
    margin: 0;
    padding: 0;
    background-color: #3f3f3f;
}
.body {
    height: 60vh;
    font-family: 'Arial', sans-serif;
    background-color: #3f3f3f;
    display: flex;
    justify-content: center;
}
.container {
    text-align: center;
    color: white;
}
canvas {
    background-color: black;
}