body {
	margin: 0;
	font-family:sans-serif;
	line-height: 2;
	padding: 0;
}

.parallax {
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.image1 {
	background-image: url('image1.png');
}

.image2 {
	background-image: url('image2.jpg');
}

.image3 {
	background-image: url('image3.png');
}

.section {
	padding: 50px;
	background-color: #ffffff;
}

.section h2 {
	text-align: center;
}

.section p {
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 15px;
}